@charset "utf-8";
/* CSS Document */
.intro{
	text-indent: 35px;
	text-align: left;
}
.more{
	position:absolute;
	top: 100px;
	left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-inner{
	background: rgba(1,25,53,0.5);
	width: auto;
	height:auto;
}